.container {
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  height: calc(80vh);
  padding-left: 24px;
}
.list {
  width: inherit;
  list-style: none;
}

.divider {
  opacity: 50%;
}
