* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #191919;
  font-family: "Segoe UI";
  font-weight: 300;
  color: white;
  text-decoration: none;
  user-select: none;
}
.app-container {
  display: flex;
  align-items: start;
  gap: 100px;
  height: 100%;
  margin-top: calc(48px + 24px);
}
.content-container {
  width: fit-content;
}
/*
  Selection footer
*/
.selection-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #1c1c1c;
  width: 100vw;
}
.selection-footer-text{
  margin-left: 15px;
  font-size: 14px;
  color: #dddddd;
}
/*
  Sidebar
*/
.sidebar {
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  height: calc(80vh);
}
.sidebar-list {
  padding-left: 24px;
  width: inherit;
  list-style: none;
}
/*
  Entry
*/
.entry-unselected:hover{
  background-clip: padding-box;
  background-color: #4d4d4d;
  border-radius: 5px;
}
.entry-selected{
  background-clip: padding-box;
  background-color: #777777;
  border-radius: 5px;
}
.entry-base-selection{
  border: 1px solid #777777
}
.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 1px;
}
.entry-list {
  list-style: none;
  width: 100%;
}
.entry-list-view-as-items{
  display: flex;
  flex-direction: column;
}
.entry-list-view-as-icons{
  justify-content: start;
  align-items: start;
  align-content: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px
}

.entry-icon{
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.entry-metadata-disk{
  margin-left: 32px;
}

/*
  Navigation header
*/
.header {
  background-color: #1a212a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  gap: 50px;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 48px;
}
.header-path-bar {
  border-radius: 5px;
  background-color: #272d39;
  width: 50vw;
  padding: 5px;
  font-weight: 300;
}
.header-left-icon-tab{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5%;
}
.header-icon-disabled{
  color: rgb(151, 151, 151);
  cursor:default;
}
.header-icon-enabled {
 cursor: pointer;
}
.header-icon-enabled:hover{
  background-color: #4d4d4d;
  border-radius: 5px;
}
/*
  Context menu
*/
#context-menu{
  position: absolute;
  background-color: #2b2b2b;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 50px;
  animation: context-menu-animation 0.25s linear;
  width: 250px;
}
.context-menu-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.context-menu-hotkey {
  border: 1px transparent;
}
.context-menu-opened{
  display: block;
}
.context-menu-closed {
  display:none;
}
.context-menu-button{
  font-weight: 300;
  cursor: pointer;
}
.context-menu-button:hover{
  background-color: #373738;
  border-radius: 5px;
  cursor: pointer;
}
@keyframes context-menu-animation {
  0% {opacity: 0;}
  25% {opacity: 0.5;}
 50% {opacity: 0.75;}
100% {opacity: 1;}
}