* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

*{
  user-select: nones;
  -webkit-user-select: none; /* Safari fallback only */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

body {
  background-color: #191919;
}

#context-menu {
  position: absolute;
  background-color: #2b2b2b;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding: 5px;
  animation: context-menu-animation 0.25s linear;
  width: max-content;
}

.context-menu-opened {
  display: block;
}
.context-menu-closed {
  display: none;
}
@keyframes context-menu-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
